<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Article Form</title>
</head>

<body>
    <h1> Fill The Form Given Below:-</h1>
    <form action="/articles" method="post">
        <input type="text" placeholder="Add title" name="title">
        <!-- <input type="text" placeholder="Add description" name="description"> -->
        <textarea name="description" placeholder="Add description" cols="18" rows="5"></textarea>
        <input type="text" placeholder="Add tags" name="tags">
        <input type="text" placeholder="Add author" name="author">
        <input type="submit" class="submit-btn">
    </form>
    <a href="/articles">List of articles</a>
</body>

</html>