<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article's List</title>
</head>

<body>
    <h1>All The Articles Are Given Below:-</h1>
    <ul>
        <% if(article.length){%>
            <% article.forEach((article)=>{%>
                <li>
                    <a href="/articles/<%=article.id%>">
                        <%= article.title%>
                    </a>
                </li>
                <%})%>
                    <%} else {%>
                        <h3>No Articles Present</h3>
                        <%}%>

    </ul>
    <a class="link" href="/articles/new">Add Article</a>

</body>


</html>