<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Author Form</title>
</head>

<body>
    <h2>Fill up the Author Details</h2>
    <form action="/authors" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="country" placeholder="country">
        <input type="submit" class="links">
    </form>
    <a href="/books" class="links">Go to the list of books</a>
</body>

</html>